.header
  position absolute
  top 20px
  left 20px
  z-index 3
  &__title
    font-family Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif
    font-weight 400
    font-size 18px
    color #fff
    white-space nowrap
  &__description
    margin-top 5px
    font-family Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif
    font-weight 400
    font-size 14px
    color #fff
    white-space nowrap
